<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Song</title>
</head>
<body>
<h1>Edit Song</h1>
<form th:action="@{/songs/save}" th:method="POST">
    <!-- Скриено поле за trackId за да знаеме која песна уредуваме -->
    <input id="trackId" type="hidden" name="trackId" th:value="${song != null ? song.trackId : ''}">

    <div>
        <label for="title">Song title:</label>
        <input type="text" id="title" name="title" th:value="${song != null ? song.title : ''}" placeholder="Song title" required>
    </div>

    <div>
        <label for="genre">Song genre:</label>
        <input type="text" id="genre" name="genre" th:value="${song != null ? song.genre : ''}" placeholder="Song genre" required>
    </div>

    <div>
        <label for="releasedYear">Released year:</label>
        <input type="number" id="releasedYear" name="releasedYear" th:value="${song != null ? song.releaseYear : ''}" placeholder="Released year" required>
    </div>

    <div>
        <label for="albumId">Album:</label>
        <select id="albumId" name="albumId" required>
            <option value="" disabled selected>Select album</option>
            <option th:each="album : ${albums}"
                    th:value="${album.id}"
                    th:text="${album.name}"
                    th:selected="${song != null && song.album != null && song.album.id == album.id}">
            </option>
        </select>
    </div>

    <button id="submit" type="submit">Save Changes</button>
    <a href="/songs">Go Back</a>
</form>
</body>
</html>
